html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto Condensed, sans-serif;
}

h1 {
    font-size: 72px;
    padding-top: 50px;
}

h2 {
    font-size: 54px;
    padding: 25px 50px;
}

h3 {
    font-size: 24px;
    padding: 25px 50px;
}

.block-section {
    max-height: fit-content;
}

.block-section > * {
    margin: 50px 25px;

}

.row {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.col {
    width: 45%;
}

.col > * {
    margin: auto;
}

.img-intro, .paragraph-intro {

    color: #272343;
}

.img-intro > img {
    float: left;
    object-fit: cover;
    height: 100%;
    width: auto;
}

.paragraph-intro > * {
    margin-top: 30px;
}


.btn-join-container {
    text-align: center;
}

.btn-join {
    margin: 0 auto;
    width: 250px;
    height: 70px;
    background-color: #FFD803;
    color: #272343;
    font-size: 36px;
    font-family: Roboro Condensed, sans-serif;
    border: none;
}

.login-section {
    background-color: #E3F6F5;
    background-clip: border-box;
}

.login-form-container {
    border-radius: 10px;
    border: 2px solid black;
    background-color: #FFFFFE;
    max-width: 350px;
    height: fit-content;
    max-height: 500px;
    padding: 20px;

}

.login-form-container > form > * {
    font-size: 18px;
    margin: 10px 0;
    width: 100%;
}

.login-form {
    position: relative;
    height: fit-content;
}

.submit-login {
    width: fit-content !important;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #272343;
    color: #FFFFFE;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.support-login {
    display: flex;
    justify-content: space-between;
}

.thirdparty-auth {
    display: flex;
    justify-content: space-evenly;
}

.gg-login, .fb-login {
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 16px;
}

.fb-login {
    background-color: #1877F2;
    color: #FFFFFE;
}

.gg-login {
    background-color: #FFFFFE;
    color: rgba(0, 0, 0, 54);
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: content-box;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.category-list {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-auto-rows: 1fr;
    grid-gap: 10px;
}

.category-list::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.category-list > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.category-btn {
    position: relative;
    width: 80%;
    height: 80%;
}

.btn {
    width: 90%;
    height: 90%;
    padding: 2px;
    border: 5px solid rgb(119, 119, 119);
    border-radius: 10px;
    box-shadow: 5px -5px 10px grey;
    background-size: cover;
    background-clip: content-box;
    background-repeat: no-repeat;
}

.btn-adventure {
    background-image: url("/images/adventure.png");

}

.btn-mystery {
    background-image: url("/images/mystery.png");
}

.btn-fantasy {
    background-image: url("/images/fantasy.png");
}

.btn-historical {
    background-image: url("/images/historical.png");
}

.btn-horror {
    background-image: url("/images/honor.png");
}

.btn-romance {
    background-image: url("/images/romance.png");

}

.btn-sci-fi {
    background-image: url("/images/sci-fi.png");

}

.btn-thrillers {
    background-image: url("/images/thriller.png");
}

.btn-cooking {
    background-image: url("/images/cooking.png");
}

.category-btn > span {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 18px;
    text-decoration-style: solid;
}

.category-details {
    border-radius: 10px;
    border: 2px solid #000;
    background-color: #272343;
}

.about-us-section {
    background-color: #E3F6F5;
}
