<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}"/>-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
    <link th:replace="~{fragments/header :: link}"/>
    <!-- <script src="https://kit.fontawesome.com/f307da1c01.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,400i,500,600,700" rel="stylesheet">
    <!-- bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom CSS: custom Styles -->
    <link th:href="@{/css/animate.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script th:src="@{/js/animate.js}" defer></script>
    <script th:src="@{/js/bootstrap.min.js}" defer></script>
    <script th:src="@{/js/custom.js}" defer></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}">
</div>

<div class="jumbotron">
    <!-- Container -->
    <div class="container">
        <div data-aos="fade-right">
            <h1>Best book service in the world</span>
                <span>NKHZ owners</span>
            </h1>
            <a class="btn btn-primary btn-lg" href="shop.html" role="button">shop now</a>
        </div>
        <!-- Row -->
        <div class="row" data-aos="fade-up" data-aos-easing="linear"  data-aos-duration="500">
            <!-- 1st col -->
            <div class="col-xs-12 col-md-4 col">
                <a href="product_single.html"><figure class="pete-1" ></figure></a>
                <div class="inner-content">
                    <h2><a href="/book/page">Book Service</a></h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 1500s.</p>
                    <p><a href="services.html">readmore...</a></p>
                </div>
            </div>
            <!-- 2st col -->
            <div class="col-xs-12 col-md-4 col">
                <a href="product_single.html"><figure class="pete-2"></figure></a>
                <div class="inner-content">
                    <h2><a href="/user/cart/cart-list">You cart</a></h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 1500s.</p>
                    <p><a href="services.html">readmore...</a></p>
                </div>
            </div>
            <!-- 3st col -->
            <div class="col-xs-12 col-md-4 col">
                <a href="product_single.html"><figure class="pete-3"></figure></a>
                <div class="inner-content">
                    <h2><a href="/user/profile">Your profile</a></h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 1500s.</p>
                    <p><a href="services.html">readmore...</a></p>
                </div>
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End-->
</div>
<section class="staff">
    <!-- Container -->
    <div class="container">
        <h2>Discover all service by joining with an account</h2>
        <h5>and, in case you do not have any account yet, feel free to create a new one!</h5>
        <!-- Row -->
        <div class="row">
            <!-- 1st col -->
            <div class="col-md-6 col" data-aos="fade-right" data-aos-easing="linear"  data-aos-duration="500">
                <img src="/images/man-key-near-computer-account-260nw-1499141258.jpg" alt="">
            </div>
            <!-- 1st col End -->
            <!-- 2st col -->
            <div class="col-md-6" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500">
                <div class="col-md-12">
                    <h3>Sign in / sign up</h3>
                    <h4>Login or register an new account to access all of our service</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque consectetur consequuntur debitis, ducimus eos, est et itaque labore minus nemo perspiciatis porro provident quisquam sequi vel, voluptates voluptatum. Dolorum!</p>
                    <!-- Buttons -->
                    <div class="btn-group">
                        <a href="/login" class="btn btn-warning">Sign in</a>
                        <a href="/register-form" class="btn btn-success">Sign up</a>
                    </div>
                    <!-- Buttons End-->
                </div>
            </div>
            <!-- 2st col End -->
        </div>
        <!-- Row End-->
    </div>
    <!-- Container End -->
</section>
<section class="product">
    <!-- Container -->
    <div class="container">
        <h2>Best seller <a class="btn btn-default" href="book/page/1?sortField=price&sortDir=asc" role="button">shop more</a></h2>
        <!-- Row -->
        <div class="row"  data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="500">
            <!-- 1st col -->
            <div class="col-sm-6 col-md-3 col" th:each="book: ${books}">
                <div class="thumbnail">
                    <figure class="image one">
                        <a href="product_single.html"><img th:src="${book.img}" class="img-responsive" alt="Responsive image"></a>
                    </figure>
                    <div class="caption">
                        <h3><a href="product_single.html" th:text="${book.title}"></a></h3>
                        <p class="description" th:text="${book.longDescription}"></p>
                        <div class="box">
                            <p><span th:text="'$' + ${book.price}"> </span> </p>
                            <a th:href="@{'/cart/add-to-cart/'+${book.bookId}}" class="cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 1st col End-->

        </div>
        <!-- Row End -->
    </div>
    <!-- Container End-->
</section>
<section id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="inner-content">
                <div class="col-sm-6"  data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="500">
                    <h2 class="left">Contact us for support</h2>
                    <form>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <input class="form-control" name="name" placeholder="Name" type="text" required>
                            </div>
                            <div class="col-sm-6 form-group">
                                <input class="form-control" name="email" placeholder="Email" type="email" required>
                            </div>
                        </div>
                        <textarea class="form-control" name="comments" placeholder="Comment" rows="8"></textarea><br>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <button class="btn btn-default pull-left" type="submit">Get In Touch</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-5 address"  data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="500">
                    <h2>Our Office Address</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five </p>
                    <ul class="social-icon">
                        <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <p><a class="footer-logo" href="index.html">pet<span>z</span></a></p>
                </div>
                <div class="col-sm-9">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a class="hidden-xs" href="#">|</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a class="hidden-xs" href="#">|</a></li>
                        <li><a href="products.html">Product</a></li>
                        <li><a class="hidden-xs" href="#">|</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a class="hidden-xs" href="#">|</a></li>
                        <li><a href="shop.html">shop</a></li>
                        <li><a class="hidden-xs" href="#">|</a></li>
                        <li><a href="blog.html">blog</a></li>
                        <li><a class="hidden-xs" href="#">|</a></li>
                        <li><a href="careers.html">careers</a></li>
                        <li><a class="hidden-xs" href="#">|</a></li>
                        <li><a href="#contact">contact</a></li>
                    </ul>
                    <p>(C) 2017, All Rights Reserved <span><a href="https://www.template.net/editable/websites/html5" target="_blank">Petz Theme</a></span>, Designed by <span><a href="https://www.template.net/editable/websites/html5" target="_blank">Template.net</a></span></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
</section>
<div class="about-us-section block-section"></div>
<div class="footer"></div>
</body>

</html>